.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/quino-al-JFeOy62yjXk-unsplash.jpg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/damian-denis-D8R_txR_0PE-unsplash.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/john-towner-3Kv48NS4WUU-unsplash.jpg);
}
